@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

body {
    background-image: url('../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

nav .small-nav {
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .small-nav .small-link {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

nav .small-nav .small-link li {
    font-size: 15px;
}

nav .small-nav .icon {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

nav .first-header {
    padding: 20px 0px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .first-header h1 {
    color: black;
}

nav .first-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}

nav .first-header,
ul,
li {
    font-size: 17px;
    font-weight: 500;
}

nav .first-header,
ul,
li,
a {
    text-decoration: none;
    color: black;
}

nav .first-header span {
    font-size: 32px;
    display: none;
}

@media (max-width: 768px) {

    nav .small-nav {
        display: none;
    }

    nav .first-header span {
        display: block;
        cursor: pointer;
    }

    nav .first-header ul {
        display: none;
    }

    nav .second-header {
        display: none;
    }

}


nav .second-header {
    background: black;
    padding: 20px 2.5%;
    margin: 0 auto;
    width: 85%;
}

nav .second-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

nav .second-header ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.dropbtn {
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 10px;
    background-color: rgb(24, 24, 24);
    box-shadow: 10px 10px 138px -4px rgba(255, 255, 255, 0.75);
    min-width: 160px;
    max-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(31, 31, 31);
    border-radius: 5px;
}

.show {
    display: block;
}

main {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 65% 30%;
    gap: 5%;
}

@media (max-width: 932px) {
    main {
        grid-template-columns: 100%;
    }
}

main #content {
    background-color: blue;
}

main aside {
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    border: 3px solid black;
    position: relative;
}

main aside .background {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

main aside .background .black {
    background-color: black;
    height: 50%;
    width: 100%;
}

main aside .content {
    position: relative;
    z-index: 5;
}

main aside .content h1 {
    margin-bottom: 10px;
    color: white;
    font-weight: 400;
}

main aside .content img {
    height: 200px;
    border-radius: 5px;
}

main aside .content .name {
    margin-bottom: 5px;
    font-size: 25px;
    letter-spacing: -1px;
    font-weight: 600;
}

main aside .content .bio {
    margin-top: 5px;
    font-weight: 400;
    font-size: 13px;
}

main aside .content .icon {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
}

main aside .content .icon li {
    cursor: pointer;
}